@import "../bootstrap-5.1.3-dist/node_modules/rfs/scss";

body{
	background-color: #333;
	background-image: linear-gradient(#222, #444);
    background-attachment: fixed;
}

a{
	color: #fff;
	text-decoration: solid;
}

a:hover{
	color: #fff;
}


.desc{
	color: #fff;
	text-align: center;
	font-size: min(2.7vw, 22pt);
}

.desc2{
	color: #fff;
	text-align: center;
	font-size: min(3.5vw, 50pt);
}

.desc3{
	color: #fff;
	text-align: center;
	font-size: min(2.5vw, 50pt);
}

.tainer{
	max-width: 1080px;
}

.logo{
	background-image: linear-gradient(#595959, #000);
	background-clip: padding-box;
	padding: 5%;
}

.itch{
	background-image: linear-gradient(#fa5c5c, #e33);
}

.button{
	border-style: solid;
	border-width: min(1vw, 15px);
	border-radius: min(4.2vw, 50px);
	border-color: transparent;
}

.button:hover{
	border-color: #fff;
}

.bell:active{
	filter: invert();
}

.vid{
	border-radius: min(4.2vw, 40px);
}

.foot{
	color: #fff;
	text-align: center;
	font-size: clamp(0.5rem, 6vw, 4rem);
}

.rota{
	color: #fff;
	text-align: center;
	font-size: clamp(0.5rem, 4vw, 3rem);
}

.tinycrate{
	color: #fff;
	text-align: center;
	font-size: clamp(0.5rem, 3.2vw, 2.5rem);
}

.title{
	color: #fff;
	text-align: center;
	font-size: clamp(0.5rem, 12vw, 6rem);
}