.navbar{
	background-color: #fff;
    padding: 3pt 0pt;
}

.navbar a{
    color: #000;
}
.navbar a:hover{
	color: red;
}

.navbar-brand{
	font-size: clamp(2rem, 3vw, 3rem);
}

.nav-link{
	text-align: center;
    margin: 0px 0.5vw;

	font-size: clamp(1rem, 2.5vw, 2.5rem);
}