.navbar{
	background-color: #fff;
    padding: 0px 0;
	margin: 0px 0px;
}

.navbar a{
    color: #000;
}

.navbar a:hover{
	color: red;
}

.navbar-brand{
	font-size: clamp(1.5rem, 3.5vw, 3rem);
	margin-left: 1vw;
}

.nav-link{
	font-size: clamp(1rem, 2.5vw, 2.5rem);
	text-align: center;
	margin-right: 0.5vw;
}

.nimage{
	margin-top: 0px;
	max-width: 200%;
	height: clamp(28px, 5.3vw, 80px);
}
.nimage:hover{
	filter: invert();
}

@media (max-width: 767px){
	.spacer{
		display: none;
	}
	.nlink{
		display: contents;
	}
}

@media (min-width: 768px){
	.nlink{
		display: none;;
	}
}